force-app/main/default/flows/Password_Verifier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Verifies user password against a secret constant</description>
    <label>Password Verifier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <!-- Input Variable: User Password -->
    <variables>
        <name>userPassword</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- Output Variable: Is Valid -->
    <variables>
        <name>isValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>

    <!-- Constant: Secret Password -->
    <constants>
        <name>SECRET</name>
        <dataType>String</dataType>
        <value>
            <stringValue>secret</stringValue>
        </value>
    </constants>

    <!-- Decision: Compare Password -->
    <decisions>
        <name>Compare_Password</name>
        <label>Compare Password</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Set_Invalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Password Does Not Match</defaultConnectorLabel>
        <rules>
            <name>Password_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userPassword</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SECRET</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Valid</targetReference>
            </connector>
            <label>Password Matches</label>
        </rules>
    </decisions>

    <!-- Assignment: Set Valid (True) -->
    <assignments>
        <name>Set_Valid</name>
        <label>Set Valid</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>isValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>

    <!-- Assignment: Set Invalid (False) -->
    <assignments>
        <name>Set_Invalid</name>
        <label>Set Invalid</label>
        <locationX>302</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>isValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>

    <!-- Start Element -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Compare_Password</targetReference>
        </connector>
    </start>
</Flow>
